@page
@model TrafficLawDocumentRazor.Pages.FeedbackPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your feedbacks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                AI Answer
            </th>
            <th>
                Feedback content
            </th>
            <th>
                Created At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Feedbacks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AIAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAtFormatted)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
